{% extends 'layout.html' %}


{% block title %}

About Page

{% endblock %}


{% block body_block %}

<br>

<h2 style="color:white;">✏ABOUT US</h2>
<br>
<br>




<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
     
<div class="container">
  <div class="content">
    <div class="left-side">

      



      <div class="phone details" style="color:white;">
        <i class="fas fa-phone-alt"></i>
        <div class="topic"><h4 style="color:white;"><strong>Phone</strong></h4></div>
        <div class="text-two" style="color:white;">+91 9902126849</div>
      </div>

      <br>

      <div class="email details" style="color:white;">
        <i class="fas fa-envelope"></i>
        <div class="topic"><h4 style="color:white;"><strong>Email</strong></h4></div>
        <div class="text-one" style="color:white;">namratagaland@gmail.com</div>

      </div>

    </div>
  </div>
</div>

<br>


<h3 style="color:white;">🚩For more information and queries click on contact and fill your details.</h3>

<br>

{%  endblock  %}